{% extends '../../store/base.html' %}
{% block title %} {% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            <p> Change your password </p>
            <div>{{ form.new_password1.label }} (required)</div>
            {{ form.new_password1 }}
            <div>{{ form.new_password2.label }}(required)</div>
            {{ form.new_password2 }}

            <ul>
                <li>Your password can't be too similar to your other personal information</li>
                <li>Your password must contain at least 8 characters</li>
                <li>Your password can't be commonly used password </li>
                <li>Your password can't be entirely numeric</li>
            </ul>
             <button type="submit" value="Change" class="btn"> Submit </button>
        </form>

        <p>
            <a href="{% url 'account:login' %}"> Already have an account ?</a>
        </p>
        <p>
            <a href="{% url 'account:register' %}"> Help center </a>
        </p>
    </div>
</div>
{% endblock %}